<!DOCTYPE html>
{% extends 'app1/base.html' %}
{% block base %}
    <section id="bio">
        <h2 class="absolute">Profile</h2>
        <figure>
            <img src="#" alt="Pic" title="Profile Pic" loading="lazy">
        </figure>
        <p>Graduate student from Bishop Heber Collage Trichy in Bachelors of Business Administration. My academic background reflects a keen interest in both technology and music.</p>
    </section>

    <section id="intro">
        <h2>Intro</h2>
        <p id="p1">Hello, and thank you for your interest in learning more about me! I'm Samuel Thimothy, a passionate and aspiring individual in the vast realm of technology and beyond. As a recent graduate, I've embarked on this exciting journey armed with a diverse set of skills and a thirst for knowledge.</p><br><br>
        <p>I've developed proficiency in Python, utilizing its flexibility and power to solve problems and create innovative solutions. Additionally, my expertise extends to web development technologies such as HTML, CSS, JavaScript, DOM manipulation, and jQuery, allowing me to craft interactive and visually appealing web experiences.</p><br><br>
        <p>In the database realm, I've honed my skills in SQL, understanding how to efficiently manage and retrieve data to support the functionality of web applications. To bring it all together, I've embraced Django, a powerful Python framework, to build robust and scalable web applications.</p><br><br>
        <p>Beyond the digital landscape, I find joy and fulfillment in the art of music. I'm not only knowledgeable in Python, SQL, and web development, but I'm also passionate about playing the violin. In fact, I am currently imparting my knowledge and skills as a violin tutor, sharing the beauty and intricacies of this timeless instrument with others.</p><br><br>
        <p>Thank you for taking the time to get to know me a bit better. I look forward to potential opportunities and the chance to contribute my skills to a dynamic team.</p><br><br>
        <p id="regards">Best regards,<br>
        Samuel Thimothy</p>
    </section>

    <section id="disclaimer">
        <h2 class="absolute">Disclaimer</h2>
        <p>
            This website is a testament to my dedication to continuous learning and exploration. It serves as a platform to showcase my projects, ideas, and the culmination of my skills in various technologies. Whether you're here to explore programming concepts, seek web development inspiration, or learn more about the world of Django, I hope you find something valuable and engaging.
        </p>
    </section>
{% endblock %}